.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: flex-end;
  background-color: var(--color-card);
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  padding: 15pt;
  background-color: var(--color-card-header);
  height: 50pt;
}

.header > p {
  font-weight: 600;
  margin-left: 25pt;
  color: var(--color-secondary);
}

.cardBody {
  margin-left: 40pt;
  margin-right: 20pt;
  margin-top: 15pt;
  display: flex;
  height: calc(100% - 15pt);
  flex-direction: column;
  /* align-self: flex-end; */
  /* gap: 15pt; */
  justify-content: space-around;
  margin-bottom: 20px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 10pt;
  margin-top: 25px;
  margin-bottom: 25px;
}

.titleContainer > p {
  font-weight: 500;
  margin-bottom: 0px;
  color: #c2bcbe;
  font-size: 9pt;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--color-text);
}
.title > h2 {
  font-size: 20pt;
  font-weight: 400;
}

.description {
  padding-right: 80px;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
  color: var(--color-text);
  font-size: 10pt;
  font-weight: 500;
  line-height: 1.5em;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10pt;
  margin-bottom: 25px;
}

.size,
.quantity > p {
  user-select: none;
  font-size: 9pt;
  font-weight: 500;
  color: #afa9ab;
}

.btn {
  display: flex;
  flex-direction: row;
  gap: 12pt;
  user-select: none;
}

.btn > p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8pt;
  font-weight: 500;
  width: 24pt;
  height: 24pt;
  border-radius: 50px;
  background-color: var(--color-primary);
  cursor: pointer;
}

.btn > p:nth-child(3) {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.quantityBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.quantityBtn > p {
  text-align: center;
  font-size: 8pt;
  user-select: none;
  color: var(--color-text);
}

.q_btn {
  cursor: pointer;
  font-size: 20pt;
}

.q_btn:nth-child(1):active {
  transform: translateX(-1px);
}

.q_btn:nth-child(3):active {
  transform: translateX(1px);
}

.cartContainer {
  display: flex;
  flex-direction: row;
  margin-top: 20pt;
  justify-content: space-between;
  align-items: center;
}

.cartDetails {
  margin-right: 10pt;
}

.cartDetails > p {
  color: var(--color-text);
}

.cartBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.cartBtn > p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115pt;
  height: 40pt;
  background-color: var(--color-secondary);
  font-size: 9pt;
  color: var(--color-primary);
}

.purchaseArrow {
  padding-left: 12px;
  font-weight: bold;
  font-size: 1.2em;
  transition: transform 0.2s ease-in-out;
}

.cartBtn:hover .purchaseArrow {
  transform: translateX(3px);
}

.cartBtn:active .purchaseArrow{
  transform: translateX(8px);
}
