.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: auto;
    background-color: var(--color-card);
}

.header {
    display: flex;
    align-items: center;
    /* padding: 15pt; */
    background-color: var(--color-card-header);
    height: 50pt;
}


.header>p {
    font-weight: 300;
    margin-left: 25pt;
}

.cardBody {
    margin-left: 40pt;
    margin-right: 20pt;
    margin-top: 30pt;
    display: flex;
    flex-direction: column;
    gap: 20pt;
    /* margin-bottom: 45pt; */
}

.titleContainer {
    display: flex;
    flex-direction: column;
    gap: 10pt;
}

.titleContainer>p {
    font-weight: 300;
    color: #C2BCBE;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-text);
}

.description {
    padding-right: 100pt;
    letter-spacing: .3px;
}

.description>p {
    color: var(--color-text);
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10pt;

}


.size {
    color: var(--color-text);
    user-select: none;
}

.btn {
    display: flex;
    flex-direction: row;
    gap: 12pt;
}

.btn>p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9pt;
    width: 23pt;
    height: 23pt;
    border-radius: 50px;
    background-color: var(--color-primary);
    cursor: pointer;
}

.btn>p:nth-child(3) {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20pt;
}

.quantity>p {
    color: var(--color-text);
}

.quantityBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 13pt;
}

.quantityBtn>p {
    text-align: center;
    font-size: 8pt;
    user-select: none;
    color: var(--color-text);
}

.q_btn {
    cursor: pointer;
}

.q_btn:nth-child(1):active {
    transform: translateX(-1px)
}

.q_btn:nth-child(3):active {
    transform: translateX(1px)
}

.cartContainer {
    display: flex;
    flex-direction: row;
    padding-top: 16pt;
    justify-content: space-between;
    align-items: center;
}

.cartDetails {
    margin-right: 10pt;
}

.cartDetails>p {
    color: var(--color-text);
}

.cartBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.cartBtn>p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150pt;
    height: 45pt;
    background-color: var(--color-secondary);
    font-size: 9pt;
    color: var(--color-primary);
}