.container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    align-items: center;
}

.m_nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.m_nav>p:nth-child(1) {
    /* color:var(--color-secondary); */
    border-bottom-color: var(--color-secondary);
}
.m_nav>p {
    cursor: pointer;
    margin-top: 5px;
    padding-bottom: 6px;
    user-select: none;
    font-size: 10pt;
    font-weight: 600;
    border-bottom:2px solid transparent;
    transition: border 0.2s ease-in-out;
}

.m_nav>p:hover {
    border-bottom: 2px solid var(--color-secondary);
}

.m_nav>p:active {
    transform: translateY(1px);
}

.info {
    background-color: var(--color-secondary);
    border-radius: 50px;
}

.info>p {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    text-align: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}