* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

:root {
  --color-primary: #F7F4F4;
  --color-secondary: #8B2E38;
  --color-card: #FFFFFF;
  --color-card-header: #FAE3BA;
  --color-text: #55555B;
}