@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

:root {
  --color-primary: #F7F4F4;
  --color-secondary: #8B2E38;
  --color-card: #FFFFFF;
  --color-card-header: #FAE3BA;
  --color-text: rgb(53,53,60);
}